
<form action="/create" method="post">

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Введите цифры через пробел" name="title" required>
    </div>

    <button type="submit" class="btn btn-success">Выполнить</button>

    <h2>{{array}}</h2>

</form>